name: From a branch

on:
  push:
    branches: 
      - features/test

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['14.x', '16.x', '18.x']

    steps:
    - run: pwd
